.bannerWelcome {
  height: 15rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #ffffec;
}
.bannerWelcome p {
  font-size: 80px;
  line-height: 70px;
  color: #2c2c2cd3;
  padding-right: 3rem;
  padding-bottom: 2rem;
  font-family: "Architects Daughter", cursive;
}
.contenedorVistaPrevia {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ffffec;
  padding-bottom: 2rem;
}
.comprarTodo {
  padding-bottom: 2.5rem;
  display: flex;
  background-color: #ffffec;
  cursor: pointer;
}
.comprarTodo img {
  width: 92%;
  height: 100%;
}
.textoComprarTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  transition: 1s;
}
.textoComprarTodo h3 {
  vertical-align: bottom;
  font-family: "Rubik", sans-serif;
  line-height: 20.8px;
  letter-spacing: 0.8px;
  font-size: 1.5rem;
  color: #222222;
  writing-mode: vertical-rl;
  transition: 1s;
}
.comprarTodo:hover .textoComprarTodo {
  background-color: black;
}
.comprarTodo:hover .textoComprarTodo h3 {
  color: #fbbf13;
}
.contenedorSubscribir {
  background-color: #ffc001;
  height: 28rem;
  display: flex;
}
.contenedorComunidad {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
}
.contenedorComunidad h4 {
  font-family: "Rubik", sans-serif;
  line-height: 20.8px;
  letter-spacing: 0.8px;
  color: #222222;
  padding-bottom: 1rem;
}
.inputBoton {
  display: flex;
  align-items: center;
}
.inputBoton input {
  width: 20rem;
  height: 44px;
  border: 1px solid #242424;
}
.inputBoton button {
  height: 44px;
  border: none;
  background-color: #242424;
  color: white;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.ojosDrew {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dibujoOjo {
  height: 80%;
  width: 10rem;
  border-radius: 100%;
  background-color: #222222;
}
