.tablaProductos {
  border: 1px solid black;
  font-family: "Rubik", sans-serif;
  line-height: 20.8px;
  letter-spacing: 0.8px;
  margin-top: 1rem;
}
.titulosTabla {
  font-family: "Rubik", sans-serif;
  line-height: 20.8px;
  letter-spacing: 0.8px;
  color: black !important;
  border-right: 1px solid black;
  background-color: #fbbf13 !important;
}
.sinborde {
    border-right: none;
}
.thProducto {
  width: 25rem;
  text-align: center;
  
}
.thPrecio {
  text-align: center;
}

.tdProducto {
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 20.8px;
  letter-spacing: 0.8px;
  color: black !important;
}
.botonEliminar {
  margin-right: 0.5rem;
  background-color: red;
}
.botonEditar {
  margin-left: 0.5rem;
  background-color: black;
  color: #fbbf13;
  border: none;
}
/* .controlStockOjos {
  display: none;
}
.estilosEnControlStock {
  height: 15rem;
} */