footer {
  display: flex;
  flex-direction: column;
  height: 15rem;
  background-color: #ffffec;

  /* border: 1px solid red; */
}

.contenedorRedes {
  display: flex;
}
.contenedorAyuda {
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.contenedorStore {
  width: 30%;
  /* border: 1px solid black; */
  display: flex;
  align-items:flex-start;
  padding-top:4rem;
}
.contenedorStore img {
    width: 8rem;
    margin-left: 1rem;
}
.help {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  /* border: 1px solid seagreen; */
}
.help h5 {
  text-align: center !important;
  width: 50%;
  font-family: "Rubik", sans-serif;
  line-height: 20.8px;
  letter-spacing: 0.8px;
  color: #222222;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.blah {
  width: 80% !important;
}
.help ul li {
  list-style-type: none;
  color: #222222e1;
  font-family: sans-serif;
  line-height: 28.8px;
  margin: 0 !important;
}
.help ul li:hover {
    text-decoration:underline
}